```toml
{{.ResolvedConfigAsTomlString}}
```


{{- if .FoundFiles}}
From:
{{- range $i, $file := .FoundFiles}}
  {{add $i 1}}. {{$file}}{{if eq $i 0}} (HIGHEST PRIORITY - merged last){{end}}
{{- end}}
{{- else}}
  (none found - using defaults)
{{- end}}